button{
    font-size: inherit;
    /*padding: 0.25em 0.4em;*/
    padding: 0.15vmin 1vmin;
    height:4.5vmin;
    margin: 0.2vmin 1vmin;
    border-radius: 0em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #f90;
    background-color: #fff;
    outline: none;
    background-color: #acf;
  }

  button:hover{
    background-color: blue;
    color: white;
  }